head
    title Graduate Adventures
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons',rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(name='viewport',content='width=device-width, initial-scale=1.0,minimal-ui')

body
  if playerNameNotSet 
    .red.lighten-2.title-header
      h1 Graduate Adventures
    +startForm
  else
    .red.lighten-2.ingame-header
      .row.valign-wrapper
        .col.s6.m6.l6
          h5.valign.center-align Graduate Adventures
        .col.s3.m3.l3
          .valign-wrapper
            i.small.material-icons verified_user
            .valign {{playerName}}
          .valign-wrapper
            i.small.material-icons today
            .valign {{date}}
        .col.s3.m3.l3
          .valign-wrapper
            i.small.material-icons favorite_border
            .valign {{health}}
          .valign-wrapper
            i.small.material-icons attach_money
            .valign {{money}}
    +gameField

template(name='startForm')
  .center-align.startForm
    .startFormUserName
      input(placeholder='Enter your name' type='text' class='username')
    a.waves-effect.btn.startFormStartButton Start!

template(name='gameField')
  .console(id='console',onclick='advanceText()')
  .input-row.row.valign-wrapper
    .col.s1.m6.l6.valign
      .avatar
        .sprite-small(id='sprite')
    if showInputButtons
      .options.col.s11.m2.l2.right-align
        ul(id='optionsList')
          li
            a.waves-effect.btn.option.red.darken-4 {{optionA}}
          li
            a.waves-effect.btn.option.purple.darken-4 {{optionB}}
          li
            a.waves-effect.btn.option.indigo.darken-4 {{optionC}}
          li
            a.waves-effect.btn.option.teal.darken-4 {{optionD}}
      script.
        Materialize.showStaggeredList('#optionsList');
