.title-header {
  text-align: center;
  padding: 15px;

  h1 {
    margin: 0px;
    font-family: 'Dosis', sans-serif;
  }
}

.ingame-header {
  font-family: 'Dosis', sans-serif;
}

.ingame-header {
  padding-top: 5px;
}

#startFormUserName {
  margin-top: 15px;
}

.console {
  width: 90%;
  min-height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid black;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: black;
  color: white;
}

.input-row {
  min-height: 240px;
}

.avatar {
  width: 100%;
}

.options {
  margin-top: 10px;
}
